// Color Variables
$clr-primary-400: hsl(263, 55%, 52%);
$clr-secondary-400: hsl(217, 19%, 35%);
$clr-secondary-500: hsl(219, 29%, 14%);
$clr-neutral-100: hsl(0, 0%, 100%);
$clr-neutral-200: hsl(0, 0%, 81%);
$clr-neutral-300: hsl(210, 46%, 95%);

// Font Variables
$ff-primary: 'Barlow Semi Condensed', sans-serif;

// Font Weight Variables
$fw-400: 500;
$fw-700: 600;

// Font Size Variables
$fs-300: 0.6875rem;
$fs-400: 0.8125rem;
$fs-500: 1.25rem;
