@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/breakpoints' as *;

.testimonial-grid {
  display: grid;
  gap: 1.5rem;
  grid-auto-columns: 1fr;
  grid-template-areas:
    'one'
    'two'
    'three'
    'four'
    'five';

  padding-block: 2rem;
  width: min(95%, 70rem);
  margin-inline: auto;

  @include sm {
    grid-template-areas:
      'one one'
      'two three'
      'five five'
      'four four';
  }

  @include md {
    grid-template-areas:
      'one one'
      'two five'
      'three five'
      'four four';
  }

  @include lg {
    grid-template-areas:
      'one one two'
      'five five five'
      'three four four';
  }

  @include xl {
    grid-template-areas:
      'one one two five'
      'three four four five';
  }
}

.testimonial {
  font-size: $fs-400;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);

  &--primary {
    background-color: $clr-primary-400;
    color: $clr-neutral-100;
  }

  &--secondary {
    background-color: $clr-secondary-400;
    color: $clr-neutral-100;
  }

  &--light {
    background-color: $clr-neutral-100;
    color: $clr-secondary-400;
  }

  &--dark {
    background-color: $clr-secondary-500;
    color: $clr-neutral-100;
  }

  &__header {
    @include flex-center();
  }

  &__image-container {
    width: 50px;
    height: 50px;
  }

  &__image {
    width: 1.75rem;
    border-radius: 50%;
  }

  &__name {
    font-size: $fs-400;
    font-weight: $fw-700;
    line-height: 1;
  }

  &__position {
    font-size: $fs-300;
    opacity: 0.5;
  }

  &__text {
    font-size: $fs-500;
    line-height: 1.2;
  }

  &__quote {
    margin-top: 1rem;
    font-size: $fs-400;
    opacity: 0.7;
  }

  &__image--border {
    border: 2px solid $clr-primary-400;
  }

  &:nth-child(1) {
    grid-area: one;
  }
  &:nth-child(2) {
    grid-area: two;
  }
  &:nth-child(3) {
    grid-area: three;
  }
  &:nth-child(4) {
    grid-area: four;
  }
  &:nth-child(5) {
    grid-area: five;
  }
}
