.btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    transition: 0.3s;
}


.alert {
    background-color: #f44336;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    transition: 0.3s;
}

.alert:hover {
    opacity: 1;
}

#container {
    height: 200px;
    width: 200px;
    background-color: #f2f2f2;
    border: 1px solid black;
    padding: 16px;
}

#parent {
    height: 150px;
    width: 150px;
    background-color: #cb6262;
    border: 1px solid black;
    padding: 16px;
}

#child {
    height: 100px;
    width: 100px;
    background-color: #597729;
    border: 1px solid black;
    padding: 16px;
}

.container {
    margin-top: 2rem;
    height: 200px;
    width: 200px;
    background-color: #f2f2f2;
    border: 1px solid black;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}