/* Root Variables */
:root {
    /* Color Variables */
    --color-primary: #3490dc;
    --color-secondary: #ffed4a;
    --color-dark: #222222;
    --color-white: #ffffff;
    --color-primary-hover: #1d72b8;

    /* Font Variables */
    --font-family-base: 'Roboto', sans-serif;
    --font-size-base: 1rem;
    --font-weight-bold: 700;
    --font-weight-normal: 400;

    /* Spacing Variables */
    --width-container: clamp(300px, 100%, 1200px);
}

/* Utility Classes */
.container {
    width: var(--width-container);
    margin: 0 auto;
    padding: 0 15px;
}

.text-center {
    text-align: center;
}

.text-rigth {
    text-align: right;
}

.text-white {
    color: var(--color-white);
}

.bg-primary {
    background-color: var(--color-primary);
}

.bg-secondary {
    background-color: var(--color-secondary);
}

.bg-dark {
    background-color: var(--color-dark);
}

.p-5 {
    padding: 3rem;
}

.mt-5 {
    margin-top: 3rem;
}

.mb-3 {
    margin-bottom: 1rem;
}

.btn {
    padding: 0.75rem 1.5rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    text-transform: uppercase;
    border-radius: 0.25rem;
    text-decoration: none;
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-bold);
}

.btn:hover {
    background-color: var(--color-primary-hover);
}

.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.space-y-4>*+* {
    margin-top: 1rem;
}

.cursor-pointer {
    cursor: pointer;
}

.p-1 {
   padding: 2rem 1.5rem;
}

.bg-primary {
    background-color: var(--color-primary);
}
.color-white {
    color: var(--color-white);
}   

.uppercase {
    text-transform: uppercase;
}


.radius-1 {
    border-radius: 0.25rem;
}

.decoration-none {
    text-decoration: none;
}
.font-bold {
    font-weight: var(--font-weight-bold);
}
.font-size-1 {
    font-size: var(--font-size-base);
}


.bg-primary:hover {
    background-color: var(--color-primary-hover);
}