$color-card-bg:#fff;
$color-card-border:#e0e0e0;
$color-text-primary:#333333;
$color-text-secondary:#757575;
$color-primary: #d51c1c;

//fonts
$font-family-base: 'Roboto', sans-serif;
$font-size-base: 1 rem;
$font-size-title: 1.5rem;

//spacing
$spacing-small: 0.75rem;
$spacing-medium: 1.5rem;
$spacing-large: 2rem;